$defaultW = 20px
$defaultH = 20px
iconCommon()
  width: $defaultW
  height: $defaultH
  display: inline-block
  cursor: pointer
/* 上下箭头 */
.ma-icon-arrow-up:after
  content: '\25B2'
  iconCommon()
.ma-icon-arrow-down:after
  content: '\25BC'
  iconCommon()